.body {
  font-family:'Dancing Script', cursive;
  background-color: #E0FBE2;
  color: #000;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

p {
  font-size: 1.2em;
  font-style: italic; /* También puedes usar la propiedad font-style si deseas cursiva */
}


.AppBar {
  background-color: #b0d4ed;
}

.AppBarTitulo {
  color: #ffffff;
}

h1 {
  font-weight: bold;
}

h2 {
  font-weight: 400w;
  margin: 0px;
  padding: 20px;
}



.derecha {
  text-align: right;
}

.BtnNota {
  background-color: rgb(232, 194, 146);
  margin: 20px;
  color: #ffffff;
  text-align: right;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.25s;
}

.BtnNota:hover {
  background-color: #b0d4ed;
  margin: 20px;
  color: white;
  text-align: right;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.25s;
}



.PanelAgregarNota {
  text-align: center;
  width: 100%;
  padding: 20px;
}

.formulario {
  background-color: #ffffff;
  border-radius: 20px;
  border: 10px double;
  border-color: rgb(232, 194, 146);
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.PanelPrincipal {
  background-color: white;
  padding: 20px;
}

.PanelColeccion {
  padding: 20px;

}

.row {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 20px;

}

.col {
  text-align: center;
  padding: 20px;
  border: 3px solid #b0d4ed;
  border-radius: 10px;
}



.parrafo {
  font-weight: 400w;
  text-align: left;
}


.PanelCudrado {
  padding: 20px;
  font-size: 10px;
  width: 50%;
}


.col2 {
  text-align: center;
  padding: 20px;
  border: 1px solid green;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2)
}

.tiitulover {
  font-weight: 500w;
  font-weight: bold;

}

.BtnAgregar {
  background-color: #b0d4ed;
  margin: 5px;
  color: #ffffff;
  text-align: center;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.25s;
}
 .BtnAgregar img{
  width: 16px;
  height: 16px;
  margin: auto;
 }

.BtnAgregar:hover {
  background-color: rgb(232, 194, 146);
  margin: 20px;
  color: white;
  text-align: center;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.25s;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

Button {
  background-color: red;
}

Button:hover {
  border-color: yellow;

}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.formControl {
  width: 500px;
  height: 80px;
}



@media only screen and (max-width: 1200px) {
  .formControl {
    width: 500px;
    height: 80px;
  }
}


@media only screen and (max-width: 576px) {
  .formControl {
    width: 300px;
    height: 80px;
  }
}